<mat-card *ngIf="calculation">
  <mat-card-header>
    <mat-card-title>{{ calculation.id }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" disabled value="{{ calculation.id }}" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="fertig berechnet"
        disabled
        value="{{ calculation.finished }}"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Umfragedatei"
        disabled
        value="{{ calculation.surveyfile }}"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        disabled
        matInput
        placeholder="Populationsgröße"
        value="{{ calculation.populationsSize }}"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        disabled
        matInput
        placeholder="Fitness-Schwelle"
        value="{{ calculation.fitnessThreshold }}"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        disabled
        matInput
        placeholder="Anzahl Generationen mit gleich bleibender Fitness"
        value="{{ calculation.steadyFitness }}"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        disabled
        matInput
        placeholder="Ort"
        value="{{ calculation.location }}"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        disabled
        matInput
        placeholder="ID des Plans"
        value="{{ calculation.planId }}"
      />
    </mat-form-field>
    <a mat-stroked-button routerLink="/plans/{{ calculation.planId }}"
      >Plan aufrufen</a
    >
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button (click)="goBack()">ZURÜCK</button>
    <button mat-stroked-button color="primary" (click)="save()">SICHERN</button>
  </mat-card-actions>
</mat-card>
