<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Participant</title>
</head>
<body>

<div class="card">
    <div class="card-body">
        <h1>Anmeldung zum Walking-Dinner</h1>
        <p>
            Willkommen zur Anmeldung an das Walking-Dinner. Das Walking-Dinner gestaltet sich wie folgt:
        </p>
        <ul>
            <li>18:00 Uhr Vorspeise</li>
            <li>19:30 Uhr Hauptgericht</li>
            <li>21:00 Uhr Dessert</li>
            <li>der Rest des Abends zur freien Gestaltung</li>
        </ul>

        <p>
            Damit der Abend stattfindet müssen sich mindestens 9 Teams anmelden. Sobald sich 9 Teams angemeldet haben,
            benötigen wir immer 3 weitere Teams, damit die Planung aufgeht. Es kann also sein, dass wir den letzten 1
            bis 2 Teams absagen müssen.
        </p>

        <p>
            Die Anmeldung läuft bis Donnerstag, 28. Juni 2018.
        </p>

        <p>
            Bei Fragen wendet euch bitte an walkingdinner@gmail.com
        </p>
    </div>
</div>

<form method='post' enctype='multipart/form-data'>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Location</h5>
            <div class="form-group">
                <label for="address">Adresse</label>
                <input type='text' name='address' placeholder="z.B. Markusplatz 3" class="form-control">
                <small id="addressHelp" class="form-text text-muted">Die Adresse, an dem Euer Team kochen wird.</small>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Koch 1</h5>
            <div class="form-group">
                <label for="chef1">Name von Koch 1</label>
                <input type='text' name='chef1' placeholder="z.B. Heinz Strunk" class="form-control">
                <small id="chef1Help" class="form-text text-muted">Der Name Eurer ersten Person. Wird an Eure Gäste und
                    Gastgeber gesendet.
                </small>
            </div>

            <div class="form-group">
                <label for="mail1">Mail von Koch 1</label>
                <input type='text' name='mail1' placeholder="z.B. heinz.strunk@gmail.com" class="form-control">
                <small id="chef1Help" class="form-text text-muted">Eure E-Mail-Adresse wird gebraucht um Euch alle
                    weiteren Informationen zuzuschicken.
                </small>
            </div>

            <div class="form-group">
                <label for="phone1">Telefonnummer von Koch 1</label>
                <input type='text' name='phone1' placeholder="z.B. 0176 123456" class="form-control">
                <small id="phone1Help" class="form-text text-muted">Eure Telefonnummer wird benötigt, um Euch während
                    des Walking-Dinners zu kontaktieren. Wird an Eure Gäste und Gastgeber gesendet.
                </small>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Koch 2</h5>
            <div class="form-group">
                <label for="chef2">Name von Koch 2</label>
                <input type='text' name='chef2' placeholder="z.B. Oliver Schulz" class="form-control">
                <small id="chef2Help" class="form-text text-muted">Der Name Eurer zweiten Person. Wird an Eure Gäste und
                    Gastgeber gesendet.
                </small>
            </div>

            <div class="form-group">
                <label for="mail2">Mail von Koch 2</label>
                <input type='text' name='mail2' placeholder="z.B. oliver.schulz@gmail.com" class="form-control">
                <small id="mail2Help" class="form-text text-muted">Eure E-Mail-Adresse wird gebraucht um Euch alle
                    weiteren Informationen zuzuschicken.
                </small>
            </div>

            <div class="form-group">
                <label for="phone2">Telefonnummer von Koch 2</label>
                <input type='text' name='phone2' placeholder="z.B. 0176 123456" class="form-control">
                <small id="phone2Help" class="form-text text-muted">Eure Telefonnummer wird benötigt, um Euch während
                    des Walking-Dinners zu kontaktieren. Wird an Eure Gäste und Gastgeber gesendet.
                </small>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">

            <h5 class="card-title">Kochfähigkeiten</h5>
            <p class="card-text">Tragt hier bitte ein, was für Speisen ihr kochen könnt.</p>


            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vegan</h5>
                    <p class="card-text">Vegan bedeutet bei uns, dass in der Speise keinerlei tierische Produkte
                        enthalten sind. Dass in der Verarbeitung der Speisen ebenfalls keine tierische Produkte genutzt
                        wurden (z.B. Fischblasen zum Klären von Wein) können/wollen wir hier nicht
                        garantieren/einfordern.</p>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" name="VeganVorspeise">
                        <label class="form-check-label" for="VeganVorspeise">Ich könnte eine vegane Vorspeise
                            machen.</label>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" name="VeganHauptgericht">
                        <label class="form-check-label" for="VeganHauptgericht">Ich könnte ein veganes Hauptgericht
                            machen.</label>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" name="VeganDessert">
                        <label class="form-check-label" for="VeganDessert">Ich könnte eine veganes Dessert
                            machen.</label>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vegetarisch</h5>
                    <p class="card-text">Vegetarisch bedeutet bei uns, dass in der Speise nur tierische Produkte
                        enthalten sind, die keine Tötung des Tieres erfordern (z.B. Ei oder Milch)</p>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" name="VegetarischVorspeise">
                        <label class="form-check-label" for="VegetarischVorspeise">Ich könnte eine vegetarische
                            Vorspeise
                            machen.</label>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" name="VegetarischHauptgericht">
                        <label class="form-check-label" for="VegetarischHauptgericht">Ich könnte ein vegetarisches
                            Hauptgericht
                            machen.</label>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" name="VegetarischDessert">
                        <label class="form-check-label" for="VegetarischDessert">Ich könnte ein vegetarisches Dessert
                            machen.</label>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">

                    <h5 class="card-title">Omnivor</h5>
                    <p class="card-text">Omnivor bedeutet bei uns, dass tierische Produkte enthalten sind, die eine
                        Tötung des Tieres erfordern (z.B. Fleisch oder Gelatine).</p>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" name="OmnivorVorspeise">
                        <label class="form-check-label" for="OmnivorVorspeise">Ich könnte eine omnivore Vorspeise
                            machen.</label>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" name="OmnivorHauptgericht">
                        <label class="form-check-label" for="OmnivorHauptgericht">Ich könnte ein omnivores Hauptgericht
                            machen.</label>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" name="OmnivorDessert">
                        <label class="form-check-label" for="OmnivorDessert">Ich könnte ein omnivores Dessert
                            machen.</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label for="anmerkungen">Anmerkungen</label>
                <textarea class="form-control" name="anmerkungen" placeholder="z.B. keine Nüsse" rows="5"></textarea>
                <small id="anmerkungenHelp" class="form-text text-muted">Ob Ihr Allergien, Unverträglichkeiten oder so
                    habt. Diese Information wird an Eure Gastgeber weitegreleitet.
                </small>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <button type="submit" class="btn btn-primary">Absenden</button>
        </div>
    </div>

</form>

</body>
</html>
