<h1>Teams</h1>

<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Team hinzufügen</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name des Teams" #teamName />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <!-- (click) passes input value to add() and then clears the input -->
      <button
        mat-stroked-button
        (click)="add(teamName.value); teamName.value = ''"
      >
        HINZUFÜGEN
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>alle Teams</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-nav-list>
        <mat-list-item *ngFor="let team of teams">
          <a matLine routerLink="/teams/{{ team.id }}">{{ team.name }}</a>
          <button
            mat-icon-button
            matTooltip="lösche Team"
            (click)="delete(team)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
</div>
