<h2>Organisationen</h2>

<div>
  <label
    >Organisation:
    <input #organisationName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(organisationName.value); organisationName.value = ''">
    hinzufügen
  </button>
</div>

<ul class="organisations">
  <li *ngFor="let organisation of organisations">
    <a routerLink="/detail/{{ organisation.id }}">
      <span class="badge">{{ organisation.id }}</span> {{ organisation.name }}
    </a>
    <button
      class="delete"
      title="delete organisation"
      (click)="delete(organisation)"
    >
      x
    </button>
  </li>
</ul>
