<h1>Organisationen</h1>

<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>alle Organisationen</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-nav-list>
        <mat-list-item *ngFor="let organisation of organisations">
          <a matLine routerLink="/organisations/{{ organisation.id }}">{{
            organisation.name
          }}</a>
          <button
            mat-icon-button
            matTooltip="lösche Organisation"
            (click)="delete(organisation)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Organisation hinzufügen</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="form">
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Name der Organisation"
            #organisationName
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Mail" #organisationMail />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <!-- (click) passes input value to add() and then clears the input -->
      <button
        mat-stroked-button
        (click)="
          add(organisationName.value, organisationMail.value);
          organisationName.value = ''
        "
      >
        HINZUFÜGEN
      </button>
    </mat-card-actions>
  </mat-card>
</div>
