<h1>Dinners</h1>

<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>alle Dinners</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-nav-list>
        <mat-list-item *ngFor="let dinner of dinners">
          <a matLine routerLink="/dinners/{{ dinner.id }}"
            >{{ dinner.name }} in {{ dinner.city }} am
            {{ dinner.begin | date: "yyyy-MM-dd HH:mm" }} ({{ dinner.id }})</a
          >
          <button
            mat-icon-button
            matTooltip="lösche Dinner"
            (click)="delete(dinner)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Dinner hinzufügen</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="form">
        <mat-form-field class="full-width">
          <input matInput placeholder="Name des Dinners" #dinnerName />
        </mat-form-field>

        <!-- type="datetime-local" does add a native control on some browsers and it actual formats it in a way which the Jackspn decoder understands; no Angular Material support however. -->
        <mat-form-field class="full-width">
          <input
            #dinnerBegin
            matInput
            placeholder="Beginn (Datum und Uhrzeit) [2019-11-03T22:01:16.566]"
            type="datetime-local"
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <input #dinnerCity matInput placeholder="Stadt" />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <!-- (click) passes input value to add() and then clears the input -->
      <button
        mat-stroked-button
        (click)="
          add(dinnerName.value, dinnerBegin.value, dinnerCity.value);
          dinnerName.value = '';
          dinnerBegin.value = '';
          dinnerCity.value = ''
        "
      >
        HINZUFÜGEN
      </button>
    </mat-card-actions>
  </mat-card>
</div>
