<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Plan</title>
</head>
<body>

<div class="card">
    <div class="card-body">
        <form method='post' enctype='multipart/form-data'>

            <fieldset>
                <legend>Daten zum Walking-Dinner:</legend>
                <div class="form-group">
                    <label for="surveyfile">Umfrage als CSV</label>
                    <input type='file' name='surveyfile' accept='.csv' class="form-control">
                    <small id="surveyfileHelp" class="form-text text-muted">Die CSV mit den Teilnehmerdaten. Anhand
                        dieser werden die Zusammenstellungen berechnet.
                    </small>
                </div>

                <div class="form-group">
                    <label for="location">Stadt</label>
                    <input type='text' name='location' value='Bamberg, Germany' placeholder="Berlin, Germany"
                           class="form-control">
                    <small id="locationHelp" class="form-text text-muted">Die Stadt, in der das Walking-Dinner
                        stattfindet. Wird zur Berechnung der Distanzen zwischen den Teams genutzt.
                    </small>
                </div>
            </fieldset>

            <fieldset>
                <legend>Optionen für den Genetischen Algorithmus:</legend>
                <div class="form-group">
                    <label for="populationsSize">Population Size</label>
                    <input type='number' name='populationsSize' value='200' placeholder="200" class="form-control">
                    <small id="populationsSizeHelp" class="form-text text-muted">Wie viele Lösungsvorschläge in jeder
                        Iteration durchgerechnet werden.
                    </small>
                </div>

                <div class="form-group">
                    <label for="fitnessThreshold">Fitness Threshold</label>
                    <input type='number' name='fitnessThreshold' value='0.001' placeholder="0.001" class="form-control">
                    <small id="fitnessThresholdHelp" class="form-text text-muted">Welche Fitness der Lösungsvorschlag
                        maximal haben darf (Minimierungsproblem: kleinere Fitness ist besser. Größere Werte kommen
                        schneller zu einem Ergebnis; Werte über 0.99 kommen zu unzureichenden Ergebnissen).
                    </small>
                </div>

                <div class="form-group">
                    <label for="steadyFitness">Steady Fitness</label>
                    <input type='number' name='steadyFitness' value='40000' placeholder="40000" class="form-control">
                    <small id="steadyFitnessHelp" class="form-text text-muted">Über wie viele Iterationen sich die
                        Fitness nicht verbessern darf, so dass sie als endgültige Lösung angenommen wird (kleinere Werte
                        kommen schneller zu einem Ergebnis; zu kleine Werte kommen zu schlechten Ergebnissen).
                    </small>
                </div>
            </fieldset>

            <button type="submit" class="btn btn-primary add-monitoring">Berechnung starten</button>
        </form>
    </div>
</div>

</body>
</html>
