<mat-card>
  <mat-card-header>
    <mat-card-title>Organisation suchen</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Name der Organisation"
        #searchBox
        id="search-box"
        (input)="search(searchBox.value)"
      />
    </mat-form-field>
    <ul class="search-result">
      <li *ngFor="let organisation of (organisations$ | async)">
        <a routerLink="/organisations/{{ organisation.id }}">
          {{ organisation.name }}
        </a>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
