<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Dinner</title>
</head>
<body>

<div class="card">
    <div class="card-body">
        <div id="organisation"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
(function() {
  var organisationAPI = ".";
  $.getJSON(organisationAPI)
    .done(function(data) {
        var organisation = data;
        var organisationDiv = $('<div/>', {
            id: 'organisation',
            class: 'organisation',
            title: 'Organisation '+organisation.id+': '+organisation.name
        }).appendTo('#organisation');

        organisationDiv.append('<h2>'+organisation.name+'</h2>');
        //organisationDiv.append('<p>ID: '+organisation.id+'</p>');
        organisationDiv.append('<ul id="dinners"></ul>');


        $.each(data.dinners, function(i, dinner) {
            var dinnerDiv = $('<li/>', {
                id: 'dinner-'+i,
                class: 'dinner',
                title: 'Dinner, ID: '+dinner.id+', Name: '+dinner.name
            }).appendTo('#dinners');

            //dinnerDiv.append('<p>'+dinner.id+':</p>');
            //dinnerDiv.append('<a href="dinners/'+dinner.id+'/">'+dinner.name+' ('+dinner.datetime.date.year+'-'+dinner.datetime.date.month+'-'+dinner.datetime.date.day+' '+dinner.datetime.time.hour+':'+dinner.datetime.time.minute+')</a>');
            dinnerDiv.append('<a href="dinners/'+dinner.id+'/">'+dinner.name+' ('+dinner.datetime+')</a>');
        });


    });
})();


</script>

</body>
</html>
