<mat-card *ngIf="plan">
  <mat-card-header>
    <mat-card-title>{{ plan.id }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="full-width">
      <input matInput placeholder="ID" disabled value="{{ plan.id }}" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea
        [(ngModel)]="plan.additionalInformation"
        matInput
        placeholder="Zusatzinformationen"
      >
      </textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="gotoSummaryReport()" mat-stroked-button>
      Summary Report
    </button>
    <button (click)="gotoMailFileReport()" mat-stroked-button>
      Mail File
    </button>
    <button (click)="createGmailDraftsReport()" mat-stroked-button>
      Gmail drafts
    </button>
    <button mat-stroked-button (click)="goBack()">ZURÜCK</button>
    <button mat-stroked-button color="primary" (click)="save()">SICHERN</button>
  </mat-card-actions>
</mat-card>
